@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tarjeta individual de producto */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 13rem;
  min-height: 14rem;          
  padding: 2.5rem;
  gap: 2rem;
  border: 2px solid #000000;  
  border-radius: 0.8rem;
  background-color: #ffffff;  
  color: #000;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

/* Título */
.Ctitle {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}

/* Texto */
.Ctext {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

/* Botón */
.btn {
  background-color: #C8102E; /* Rojo Marlboro */
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 100%;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #000000; 
}
